:root {
  /* colors */
  --blue700: #2a62b7;
  --grey500: #707070;
  --white: #ffffff;
  --textcolor: #404b69;
  --red500: #e91e63;
  --purple400: #aa94de;
  --purple500: #8870c9;
  --green500: #48a44c;
  --purple300: #c4afee;
  --green600: #418945;
  --purple600: #6751ac;
  --pink600: #d53674;
  --red600: #d60c51;
  --cyan500: #22c2d6;
  --cyan600: #15a9bb;
  --blue500: #54a9ff;
  --blue600: #3d84db;
  --yellow600: #db8f42;
  --yellow700: #b76c2d;
  --greyalpha60: #d3d3d3;
  --pink500: #ea4c89;
  --yellow500alpha20: #fff0de;
  --green500alpha20: #e7f3e8;
  --purple500alpha20: #e0dcee;
  --cyan500alpha20: #d2f2f6;
  --blue500alpah20: #dcedff;
  --red500alpha20: #fad1df;
  --pink500alpha20: #fbdbe7;
  --greyalpha70: #c7c7c7;
  --greyalpha80: #8d8d8d;
  --greyalpha40: #f5f5f5;
  --icecolor: #939cb3;
  --purple700: #4b3890;
  --ebonclay: #202337;
  --greytextdarkmode: #e2e2e2;
  --linkcolor: #6c63ff;
  --yellow500: #ffb55b;
  --green700: #1c8d53;
  --purple200: #ddcdf9;
  --green100: #e9f3ea;
  --purple_100: #efeaf7;
  --green500alpha30: #c7e3c9;
  --yellow500alpha30: #ffe8cd;
  --red500alpha30: #f8bacf;
  --red500alpha40: #f6a4c0;
  --green500alpha40-: #b5dab6;
  --yellow500alpha40: #ffe1bd;
  --purple500alpha40: #cfc6e9;
  --purple500alpha30: #dbd4ef;

  /* font-sizes */
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-roboto: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins and paddings */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
input,
button,
textarea,
select {
  font: inherit;
}
body {
  font-family: var(--ff-roboto);
  font-size: var(--fs-400);
  color: var(--textcolor);
  line-height: 1.5;
  min-height: 100vh;
}
img,
picutre {
  max-width: 100%;
  display: block;
}
li{
  list-style: none;
}
.container{
  width: 95%;
  margin: 0 auto;
  padding: 1em 0;
}